  <footer>
    <h2 class="fn-font">광운대학교</h2>
    <p class="fn-font">
      서울시 노원구 광운로 20 (월계동 447-1) 광운대학교(01897) | 대표전화 02.940.5114 <br>
      &copy; COPYRIGHTⓒKWANGWOON UNIVERSITY. ALL RIGHTS RESERVED
    </p>
  </footer>

</body>


</html>